<!DOCTYPE html>
<html lang="en" data-theme="halloween" xmlns:th="http://www.thymeleaf.org">
<head>
    <link href="https://cdn.jsdelivr.net/npm/daisyui@5" rel="stylesheet" type="text/css" />
    <script src="https://cdn.jsdelivr.net/npm/@tailwindcss/browser@4"></script>
    <link href="https://cdn.jsdelivr.net/npm/daisyui@5/themes.css" rel="stylesheet" type="text/css" />
    <meta charset="UTF-8">

    <title th:text="#{player.list.title}"></title>
</head>

<body>
<div th:insert="~{_navbar :: navbar}"></div>
<main class="min-h-screen flex justify-center pt-8">
    <div class="max-w-5xl mx-auto p-4">

        <h1 class="text-6xl font-bold mb-8 text-center uppercase" th:text="#{player.list.heading}"></h1>

        <div class="flex justify-center mb-4">
            <a th:href="@{/player/new}" class="btn btn-outline btn-primary py-4 px-8 text-md mb-6 uppercase" th:text="#{player.list.new-button}"></a>
        </div>

        <div class="overflow-x-auto w-full">
            <table class="table w-full">
                <thead>
                <tr>
                    <th class="text-center text-sm font-extrabold tracking-wider border-r px-8 uppercase"
                        style="color: oklch(0.3506 0.006 56.043); border-color: oklch(0.3506 0.006 56.043);"
                        th:text="#{player.list.column.name}"></th>
                    <th class="text-center text-sm font-extrabold tracking-wider border-r px-8 uppercase"
                        style="color: oklch(0.3506 0.006 56.043); border-color: oklch(0.3506 0.006 56.043);"
                        th:text="#{player.list.column.nicknames}"></th>
                    <th class="text-center text-sm font-extrabold tracking-wider border-r px-4 uppercase"
                        style="color: oklch(0.3506 0.006 56.043); border-color: oklch(0.3506 0.006 56.043);"
                        th:text="#{player.list.column.uniform}"></th>
                    <th class="text-center text-sm font-extrabold tracking-wider border-r px-8 uppercase"
                        style="color: oklch(0.3506 0.006 56.043); border-color: oklch(0.3506 0.006 56.043);"
                        th:text="#{player.list.column.offensive}"></th>
                    <th class="text-center text-sm font-extrabold tracking-wider border-r px-8 uppercase"
                        style="color: oklch(0.3506 0.006 56.043); border-color: oklch(0.3506 0.006 56.043);"
                        th:text="#{player.list.column.zone}"></th>
                    <th class="text-center text-sm font-extrabold tracking-wider border-r px-6 uppercase"
                        style="color: oklch(0.3506 0.006 56.043); border-color: oklch(0.3506 0.006 56.043);"
                        th:text="#{player.list.column.gender}"></th>
                    <th class="text-center text-sm font-extrabold tracking-wider px-4 uppercase"
                        style="color: oklch(0.3506 0.006 56.043);"
                        th:text="#{player.list.column.actions}"></th>
                </tr>
                </thead>
                <tbody>
                <tr th:each="player : ${players}">
                    <td class="text-center border-r px-8 capitalize"
                        th:style="'border-color: oklch(0.3506 0.006 56.043);'"
                        th:text="${player.name}"></td>
                    <td class="text-center border-r px-8 capitalize"
                        th:style="'border-color: oklch(0.3506 0.006 56.043);'"
                        th:text="${#strings.isEmpty(player.nicknames) ? '-' : player.nicknames}"></td>
                    <td class="text-center border-r px-4 capitalize"
                        th:style="'border-color: oklch(0.3506 0.006 56.043);'"
                        th:text="${player.uniformNumber}"></td>
                    <td class="text-center border-r px-8 capitalize"
                        th:style="'border-color: oklch(0.3506 0.006 56.043);'"
                        th:text="${player.offensiveFunction}"></td>
                    <td class="text-center border-r px-8 capitalize"
                        th:style="'border-color: oklch(0.3506 0.006 56.043);'"
                        th:text="${player.zoneFunction}"></td>
                    <td class="text-center border-r px-6 capitalize"
                        th:style="'border-color: oklch(0.3506 0.006 56.043);'"
                        th:text="${player.gender}"></td>
                    <td class="text-center px-4">
                        <div class="flex gap-2 justify-center">
                            <a th:href="@{/player/edit/{id}(id=${player.id})}" class="btn btn-sm btn-ghost uppercase" th:text="#{player.list.edit}"></a>
                            <form th:action="@{'/player/' + ${player.id}}" method="post">
                                <input type="hidden" name="_method" value="delete"/>
                                <button type="submit" class="btn btn-error btn-sm">Deletar</button>
                            </form>
                        </div>
                    </td>
                </tr>
                </tbody>
            </table>
        </div>
    </div>
</main>
</body>
</html>
